body{
    font-family: cursive;
    color: black;
}
ul{
    /* background-color: bisque; */
    display: flex;
    justify-content: space-around;
    list-style: none;
}
a{
    padding: 20px;
    text-decoration: none;
    color: black;


}
.nav-bar{
    /* position: fixed; */
    border-bottom: solid rgb(234, 0, 255);
    display: flex;
    justify-content: space-around;
}
.nav-bar-name {
    display: flex;
    /* background-color: aqua; */

}
.logo-position{
    margin: auto;
}
.logo-color{
    height: 20px;
    width: 20px;
    background-color: orange;
    margin: auto;
}
section{
    height: 100vh;
    background: linear-gradient(90deg, #fdcd3b 30%, #e7e6db 30%);
}
.about-me-container{
    position:absolute;
    margin: 150px 300px;
    width: 450px;
    height: 500px;
    background-color: rgb(218, 215, 96);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.about-me-avarta{
    text-align: center;
    /* position: relative; */
    padding: 50px 100px;
    /* margin: auto; */
        
}
img{

    border-radius: 50%;
}
.line{
    margin: auto;
    margin-top: 25px;
    height: 3px;
    width: 80px;
    background-color: rgb(44, 72, 99);
}
.about-links{
    margin-top: 35px;
    position: relative;
    height: 55px;
    /* width: 450px; */
    background-color: #e7e6db;
    text-align: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.fa {
    padding: 20px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
